apiVersion: v1
kind: Service
metadata:
  name: config-service
  labels:
    app: config
spec:
  type: LoadBalancer
  selector:
    app: config
  ports:
    - name: http
      port: 8888
      targetPort: 8888
      protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-deployment
  labels:
    app: config
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config
  template:
    metadata:
      labels:
        app: config
    spec:
      containers:
        - name: config
          image: config:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8888
          env:
            - name: TZ
              value: Asia/Seoul
            - name: app_name
              value: egov-config
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8888
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8888
            initialDelaySeconds: 40
            periodSeconds: 30
